@page "/dashboard"
@using DisertatieWeb.Models
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<PageTitle>Statistici Generale</PageTitle>

<h3 class="rz-mb-4">Statistici Generale</h3>

<RadzenRow>
    <RadzenCard Class="rz-col-12 rz-sm-6 rz-md-3 rz-mb-4">
        <h5>Dispozitive active</h5>
        <p>@stats?.DispozitiveActive dispozitive</p>
    </RadzenCard>
    <RadzenCard Class="rz-col-12 rz-sm-6 rz-md-3 rz-mb-4">
        <h5>Puncte turistice</h5>
        <p>@stats?.PuncteTuristice puncte</p>
    </RadzenCard>
    <RadzenCard Class="rz-col-12 rz-sm-6 rz-md-3 rz-mb-4">
        <h5>Total comentarii</h5>
        <p>@stats?.ComentariiTotal comentarii</p>
    </RadzenCard>
    <RadzenCard Class="rz-col-12 rz-sm-6 rz-md-3 rz-mb-4">
        <h5>Dispozitive recente</h5>
        <p>@stats?.DispozitiveRecente</p>
    </RadzenCard>
</RadzenRow>

<RadzenRow>
    <RadzenColumn Size="12" SizeMd="6">
        <RadzenCard>
            <h5>Comentarii Recente</h5>
            <RadzenDataGrid Data="@stats?.ComentariiRecente" TItem="ComentariuRecent" ShowPagingSummary="true" PageSize="5">
                <Columns>
                    <RadzenDataGridColumn TItem="ComentariuRecent" Property="UserEmail" Title="Utilizator" />
                    <RadzenDataGridColumn TItem="ComentariuRecent" Property="PunctInteres" Title="Punct de interes" />
                    <RadzenDataGridColumn TItem="ComentariuRecent" Property="Data" Title="Dată" FormatString="{0:dd/MM/yyyy HH:mm}" />
                    <RadzenDataGridColumn TItem="ComentariuRecent" Property="Continut" Title="Comentariu" />
                </Columns>
            </RadzenDataGrid>
        </RadzenCard>
    </RadzenColumn>

    <RadzenColumn Size="12" SizeMd="6">
        <RadzenCard>
            <h5>Evenimente Sistem</h5>
            <RadzenDataGrid Data="@evenimente" TItem="EvenimentTrafic" ShowPagingSummary="true" PageSize="5">
                <Columns>
                    <RadzenDataGridColumn TItem="EvenimentTrafic" Property="Tip" Title="Tip" />
                    <RadzenDataGridColumn TItem="EvenimentTrafic" Property="Locatie" Title="Locație" />
                    <RadzenDataGridColumn TItem="EvenimentTrafic" Property="Data" Title="Dată" FormatString="{0:dd/MM/yyyy HH:mm}" />
                </Columns>
            </RadzenDataGrid>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

@code {
    private DashboardStats? stats;
    private List<EvenimentTrafic> evenimente = new();

    protected override async Task OnInitializedAsync()
    {
        var http = HttpClientFactory.CreateClient();

        try
        {
            stats = await http.GetFromJsonAsync<DashboardStats>(NavigationManager.BaseUri + "api/dashboard/stats");
            evenimente = await http.GetFromJsonAsync<List<EvenimentTrafic>>(NavigationManager.BaseUri + "api/dashboard/evenimente");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Eroare la încărcarea datelor dashboard: " + ex.Message);
        }
    }
}
