@page "/interactiuni-senzori"
@using DisertatieWeb.Models
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<PageTitle>Interacțiuni Senzori</PageTitle>

<RadzenCard Style="margin:2rem;">
    <h3>Interacțiuni Reale cu Punctele de Interes</h3>

    <RadzenDataGrid TItem="InteractiuneSenzorModel" Data="@interactiuni" AllowPaging="true" PageSize="5" AllowSorting="true">
        <Columns>
            <RadzenDataGridColumn TItem="InteractiuneSenzorModel" Property="PunctDeInteres" Title="Punct de Interes" />
            <RadzenDataGridColumn TItem="InteractiuneSenzorModel" Title="Notificare">
                <Template Context="data">
                    <RadzenCheckBox TValue="bool" Value="data.NotificareTrimisa" Disabled="true" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="InteractiuneSenzorModel" Property="UltimaDetectie" Title="Ultima Detectare" FormatString="{0:dd/MM/yyyy HH:mm}" />
            <RadzenDataGridColumn TItem="InteractiuneSenzorModel" Property="UltimulComentariu" Title="Comentariu" />
        </Columns>
    </RadzenDataGrid>
</RadzenCard>

@code {
    private List<InteractiuneSenzorModel> interactiuni = new();

    protected override async Task OnInitializedAsync()
    {
        var http = HttpClientFactory.CreateClient();
        interactiuni = await http.GetFromJsonAsync<List<InteractiuneSenzorModel>>(NavigationManager.BaseUri + "api/sensorinteractions");
    }
}
