@page "/puncte-interes"
@using DisertatieWeb.Models
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<PageTitle>Lista Puncte de Interes</PageTitle>

<RadzenCard Style="margin:2rem;">
    <h3>Puncte de Interes Turistic</h3>

    <RadzenDataGrid TItem="PunctDeInteresModel" Data="@puncte" AllowPaging="true" PageSize="5" AllowSorting="true">
        <Columns>
            <RadzenDataGridColumn TItem="PunctDeInteresModel" Property="Nume" Title="Nume" />
            <RadzenDataGridColumn TItem="PunctDeInteresModel" Property="Descriere" Title="Descriere" />
            <RadzenDataGridColumn TItem="PunctDeInteresModel" Title="Imagine">
                <Template Context="punct">
                    <img src="@punct.ImagineUrl" alt="Fara imagine" width="80" style="border-radius:8px;" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</RadzenCard>

@code {
    private List<PunctDeInteresModel> puncte = new();

    protected override async Task OnInitializedAsync()
    {
        var http = HttpClientFactory.CreateClient();
        puncte = await http.GetFromJsonAsync<List<PunctDeInteresModel>>(NavigationManager.BaseUri + "api/puncteinteres");
    }
}
